@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Padauk", sans-serif;
  /* background-color: silver; */
}

h1 {
  margin-top: 70px;
}

div.image {
  text-align: center;
}

.tutorials {
  text-align: center;
}

.tutorials h2 {
  font-size: 40px;
}

.tutorials dt {
  line-height: 2rem;
  font-size: 25px;
}

.tutorials dd {
  margin: 8px;
  line-height: 25px;
  padding: 15px;
  font-size: 20px;
}

#name {
  padding: 10px;
  border: 2px solid silver;
  /* border-radius: 22px; */
}

#age {
  width: 7%;
  padding: 8px;
  border: 2px solid silver;
}

.register {
  margin: 24px;
}

.register h2 {
  text-align: center;
  margin: 22px;
  font-size: 40px;
}

.register form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.btn {
  display: block;
  text-align: center;
  border-radius: 22px;
  width: 10%;
  padding: 10px;
  margin: 10px;
  border: 2px solid silver;
  box-shadow: none;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background-color: cornflowerblue;
  color: whitesmoke;
}

select {
  padding: 10px;
  margin: 5px;
  font-size: 15px;
}

footer {
  text-align: center;
}

p {
  line-height: 34px;
  font-size: 25px;
}
